/* SKILLS */
.skills {
    padding: 100px 50px;
    background: #0a0a0a;
    text-align: center;
}

.skills h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.skills-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.skills-list li {
    padding: 15px 30px;
    background: #111;
    border: 1px solid #333;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(255,255,255,0.05);
    transition: 0.3s;
}

.skills-list li:hover {
    background: #222;
    transform: scale(1.1);
}

/* EDUCATION */
.education {
    padding: 100px 50px;
    text-align: center;
}

.education h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.education-card {
    max-width: 600px;
    margin: auto;
    padding: 30px;
    background: #111;
    border: 1px solid #333;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255,255,255,0.05);
    font-size: 18px;
    line-height: 1.6;
}

/* CONTACT */
.contact {
    padding: 100px 50px;
    background: #0a0a0a;
    text-align: center;
}

.contact h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.contact-card {
    max-width: 500px;
    margin: auto;
    padding: 30px;
    background: #111;
    border: 1px solid #333;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255,255,255,0.05);
    font-size: 18px;
}

.contact-card a {
    color: #bbb;
    text-decoration: none;
}

.contact-card a:hover {
    color: #fff;
}
